.reveal
	background-color #efefed
	font-size 36px

	*
		font-family goudy
		color #000a27

	.slide-headline
		font-family goudy
		font-size 130px

		&.slide-headline-small
			font-size 70px

	small
		font-size 50%

	.numbers
		font-family serif

	img
		margin-top 30px

	.slide-subline
		font-family goudy
		font-size 30px
		text-align right

		&.buffer
			margin-top 300px

	.slide-list
		list-style none
		overflow hidden
		font-size 12px
		text-align right

		li
			display inline-block
			margin-right 12px

			&:after
				content ','

			&:last-child
				margin-right 0

				&:after
					content ''

	.linklist
		display block
		width 460px
		margin auto
		text-align left

		li
			margin 12px 0

			&:last-child
				margin-right 0

	a
		font-family goudy-italic
		font-weight normal
		text-decoration none
		color #d5411f

	em
		font-family goudy-italic

	pre
		code
			text-align left