.reveal
	background-color #efefed

	*
		font-family goudy
		color #000a27

	h1.slide-headline
		font-family goudy
		font-size 130px

		small
			font-size 50px

	.slide-list
		list-style none
		overflow hidden
		font-size 12px
		margin -25px 0 0 287px

		li
			display inline-block
			margin-right 12px

			&:after
				content ','

			&:last-child:after
				content ''

	a
		font-family goudy-italic
		font-weight normal
		text-decoration none
		color #d5411f

	em
		font-family goudy-italic